<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login page</title>
</head>
<body>

  <h1>LOGIN HERE</h1>

  <form action="/" method="post">
    <input type="email" name="email" placeholder="enter your mail"> <br><br>
    <input type="password" name="password" placeholder="enter your password"> <br><br>
    <button type="submit">Login</button>
    <p><a href="/forgot-password">Forgot password</a></p>
    <p>You Don't have any account ? <a href="/register">Register here</a></p>

  </form>

</body>
</html>