<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register page</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <h1>register form</h1>

  <form action="/register" method="post">
    <input type="text" id="name" name="name" placeholder="enter the name"> <br><br>
    <input type="email" name="email" placeholder="enter your mail"> <br><br>
    <input type="password" name="password" placeholder="enter your password"> <br><br>
    <button type="submit">Register</button>
  </form>
  <p>already have any account ? <a href="/login">login here</a></p>
</body>
</html>